Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Kontrol_InputMessage">
    <wsdl:part name="parameters" element="tns:Kontrol" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontrol_OutputMessage">
    <wsdl:part name="parameters" element="tns:KontrolResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontrolcvv_InputMessage">
    <wsdl:part name="parameters" element="tns:Kontrolcvv" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontrolcvv_OutputMessage">
    <wsdl:part name="parameters" element="tns:KontrolcvvResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontroldate_InputMessage">
    <wsdl:part name="parameters" element="tns:Kontroldate" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontroldate_OutputMessage">
    <wsdl:part name="parameters" element="tns:KontroldateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontrolay_InputMessage">
    <wsdl:part name="parameters" element="tns:Kontrolay" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Kontrolay_OutputMessage">
    <wsdl:part name="parameters" element="tns:KontrolayResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Kontrol">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Kontrol" message="tns:ICalculator_Kontrol_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/KontrolResponse" message="tns:ICalculator_Kontrol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kontrolcvv">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Kontrolcvv" message="tns:ICalculator_Kontrolcvv_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/KontrolcvvResponse" message="tns:ICalculator_Kontrolcvv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kontroldate">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Kontroldate" message="tns:ICalculator_Kontroldate_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/KontroldateResponse" message="tns:ICalculator_Kontroldate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kontrolay">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Kontrolay" message="tns:ICalculator_Kontrolay_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/KontrolayResponse" message="tns:ICalculator_Kontrolay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>